<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Tổng hợp dự án trong 4 năm qua</title>
</head>
<body>
<div class="container">
    <% include menu %>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Dự án</th>
            <th>Dạng</th>
            <th>Tình trạng</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Chương trình học tiếng anh online</td>
            <td>Website</td>
            <td>
                <p>- 9-1-2019: Đăng nhập, đăng kí, đăng xuất, chat tổng.</p>
                <p>- 11-1-2019: Lưu trữ từ vựng.</p>
                <p>- 13-1-2019: Kết bạn. Đổi mật khẩu, quên mật khẩu. </p>
                <p>- 15-1-2019: Profile - Xem thông tin cá nhân của bản thân và bạn bề. </p>
                <p>- 17-1-2019: Cải thiện ô chat tổng. Prototype chat riêng. </p>
                <p>- 20-1-2019: Hoàn thiện chat riêng và chat qua đoạn thu âm</p>
                <p>- 23-1-2019: Ngữ pháp prototype. Hoàn thiện từ đồng nghĩa</p>
                <p>- 25-1-2019: Hoàn thiện phòng thi ngữ pháp.</p>
                <p>- 27-1-2019: Thêm chức năng cuộc thảo luận.</p>
                <p>- 30-1-2019: Tăng tương tác qua hiệu ứng âm thanh và hình ảnh.</p>
            </td>
            <td><a href="https://qlvfun.herokuapp.com">Link 1</a>
                <a href="https://qlvfun.vip">Link 2</a>
            </td>
        </tr>
        <tr>
            <td>Tổng hợp project demo, các khóa học, kinh nghiệm lập trình với tất cả ngôn ngữ lập trình đã học</td>
            <td>Wordpress - Blog</td>
            <td>
                <p>- 1-2-2019: Cơ bản xong các khóa học online</p>
                <p>- 1-4-2019: Xong các bài viết các ngôn ngữ lập trình cơ bản</p>
            </td>
            <td><a href="https://codefulltime.com">Code full time</a></td>
        </tr>
        <tr>
            <td>Học tiếng trung, nhật, anh. Chia sẽ lên web</td>
            <td>Web wordpress - Blog</td>
            <td>
                <p>- Chia sẻ khóa học, tài liệu, kinh nghiệm</p>
            </td>
            <td><a href="https://ngoaingu365.com">Ngoại ngữ 365</a></td>
        </tr>

        <tr>
            <td>Trang web chia sẽ theme wordpress, html css</td>
            <td>Web Laravel</td>
            <td>
                <p>- Sử dụng link rút gọn</p>
            </td>
            <td><a href="https://buythemecheap.com">Buy theme cheap</a></td>
        </tr>

        <tr>
            <td>Trang web link rút gọn</td>
            <td>Web Laravel</td>
            <td>
                <p>- Tạo ra link rút gọn để kiếm tiền</p>
            </td>
            <td>
                <a href="https://247url.com">Link trang chủ</a>
                <a href="https://247url.vip">Link đã rút gọn</a></td>
            </td>
        </tr>

        <tr>
            <td>Mạng xã hội</td>
            <td>Nhiều ngôn ngữ</td>
            <td>
                <p>- 17-1-2019: Tìm hiểu giao diện. Chức năng. Và đăng ký tài khoản vào tất cả các trang mạng xã hội hiện có</p>
                <p>- 01-2-2019: Tìm chức năng chính cho mạng xã hội. Phân tích như cầu tiềm năng. Tìm hiểu cơ chế hoạt động cho web. Tổng hợp công nghệ.</p>
                <p>- 01-3-2019: Xây dựng chức năng giao diện cho mỗi chức năng. Các chức năng sẽ lần lượt hoàn thành.</p>
            </td>
        </tr>


        </tbody>
    </table>

</div>
</body>
</html>