<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Giới thiệu website</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container">
    <%include menu%>
    <div class="col-sm-12">

        <div class="panel panel-primary">
            <div class="panel-heading">Giới thiệu website</div>
            <div class="panel-body">
                Thật ý tưởng để viết ra trang web này cũng khá là quan trọng. <br>
                <b> Người yêu ơi, nơi trời xa bao ngày dài qua<br>
                    Có khi nào em một lần nhớ đến anh<br>
                    Vẫn nơi này có một người chôn sâu mối tình<br>
                    Tình đã lỡ lòng cứ ngỡ tìm hoài trong mơ<br>
                    Dù thời gian cứ dần trôi phai mờ yêu thương<br>

                    Giữ trong lòng từng kỉ niệm khi xưa có nhau<br>
                    Có bao người vẹn tình đầu không phải đớn đau<br>
                    Tình đẹp nhất, tình dang dở, phải không em?<br>
                    Kẻ phụ tình? </b>
                <br> Ok đó là <b><a href="https://www.nhaccuatui.com/bai-hat/nho-ke-phu-tinh-lam-chan-khang.wSvOqhg2Auhf.html">Kẻ phụ tình</a></b>. Thật ra nó đéo liên quan gì đến việc tao viết ra web này đâu nha.  Đơn giản vậy nhé.
            </div>
        </div>

    </div>

</div>
</body>
</html>