<!DOCTYPE html>
<html>
  <head>
    <title>API cloud - cung cấp hệ thống API, tools, ứng dụng tự động hóa</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <%include menu%>

      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">Danh sách các ứng dụng - chỉ chạy trên window</div>
          <div class="panel-body">
            Hiện tại chưa có nhé
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">Danh sách các tools online</div>
          <div class="panel-body">
            <p>1. Tăng traffic chơ website <a href="/tools/tangtraffic" class="btn btn-primary">Vào</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
