<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">API Cloud</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bộ API
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/intro/google-translate">Google translate API</a></li>
                    <li><a href="/intro/mp3">Google translate API</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Phần mềm
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/huong-dan/intellij">IntellIJ idea</a></li>
                    <li><a href="/huong-dan/vs">VS</a></li>
                </ul>
            </li>
            <li><a href="/webhoctap">Web học tập</a></li>


            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tổng hợp<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/tong-hop-kien-thuc">Tổng hợp kiến thức</a></li>
                    <li><a href="/tong-quan-ngon-ngu">Tổng quan ngôn ngữ lập trình</a></li>
                </ul>
            </li>


            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Đọc sách
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/doc-sach/cleancode">Clean code</a></li>
                </ul>
            </li>


            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">About
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/gioi-thieu">Giới thiệu website</a></li>
                    <li><a href="/dieu-khoan">Điều khoản</a></li>
                </ul>
            </li>

            <% if(ss !== undefined){ %>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gái gú
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <% if(ss !== undefined){ %>
                        <li><a href="/nhat-ki">Nhật kí</a></li>
                        <li><a href="/cua-hang">Cửa hàng người yêu cũ</a></li>
                        <li><a href="/cua-gai">Bí kiếp cưa gái</a></li>
                        <li><a href="/tong-hop-18">Tổng hợp 18+</a></li>
                    <% } %>
                </ul>
            </li>
            <% } %>


        </ul>
    </div>
</nav>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cảnh báo</h4>
            </div>
            <div class="modal-body">
                <p>Tuổi lồn mà muốn vào đây à. Cút</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>