<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Tổng hợp kiến thức năm 2019</title>
</head>
<body>
<div class="container">
    <%include menu%>
    <h1>I. Ngoại ngữ</h1>
    <p>- Tiếng anh</p>
    <p>- Tiếng trung</p>
    <p>- Tiếng nhật</p>

    <h1>II. Ngôn ngữ lập trình</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th width="15%">Ngôn ngữ lập trình</th>
            <th width="25%">Tính năng</th>
            <th width="30%">Các framework</th>
            <th width="30%">Những gì làm được</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1. Java <span class="glyphicon glyphicon-ok"></span></td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
                <p>- Làm web</p>
                <p>- Làm ứng dụng desktop</p>
                <p>- Làm ứng dụng mobile</p>
            </td>
            <td>
                <p>Spring <span class="glyphicon glyphicon-ok"></span></p>
                <p>JSF</p>
                <p>Hibernate <span class="glyphicon glyphicon-ok"></span></p>
            </td>
            <td>
                <p><a href="https://www.baeldung.com">Baeldung</a></p>
                <p><a href="https://www.freetuts.net">Free Tuts</a></p>
            </td>
        </tr>

        <tr>
            <td>2. Python <span class="glyphicon glyphicon-ok"></span></td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
                <p>- Làm web, Game</p>
                <p>- Ứng dụng AI</p>
            </td>
            <td>
                <p>Django <span class="glyphicon glyphicon-ok"></span></p>
            </td>
            <td>
                <p><a href="https://www.freetuts.net">Free Tuts</a></p>
            </td>
        </tr>

        <tr>
            <td>3. C# <span class="glyphicon glyphicon-ok"></span></td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
                <p>- Làm web</p>
                <p>- Ứng dụng desktop</p>
                <p>- Web realtime</p>
            </td>
            <td>
                <p>ASP.NET MVC 5 <span class="glyphicon glyphicon-ok"></span></p>
                <p>ADO.NET Entity model <span class="glyphicon glyphicon-ok"></span></p>
                <p>WebSocket</p>
                <p>WebAPI</p>
                <p>Winform</p>


            </td>
            <td>
                <p>HowkTeam</p>
                <p>Microsoft</p>
            </td>
        </tr>

        <tr>
            <td>4. JS <span class="glyphicon glyphicon-ok"></span></td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
                <p>- NodeJS</p>
                <p>- Làm web</p>
                <p>- Web realtime</p>
                <p>- Ứng dụng android</p>
                <p>- OnePage web</p>
            </td>
            <td>
                <p>Express Web <span class="glyphicon glyphicon-ok"></span></p>
                <p>SocketIO <span class="glyphicon glyphicon-ok"></span></p>
                <p>ReactJS</p>
                <p>ReactNative</p>
                <p>Angular</p>

            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>5. PHP <span class="glyphicon glyphicon-ok"></span></td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
                <p>- Làm web với PHP</p>
                <p>- Sử dụng CMS</p>
            </td>

            <td>
                <p>Laravel <span class="glyphicon glyphicon-ok"></span></p>
                <p>CodeIgniter</p>
                <p>Symfony</p>
            </td>

            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>6. Ruby <span class="glyphicon glyphicon-ok"></span></td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
                <p>- Làm web MVC với framework Rails</p>
            </td>
            <td>
                <p>Ruby on rails</p>
                <p>Sinatra</p>
                <p>Padrino</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>7. C++ <span class="glyphicon glyphicon-ok"></span></td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
                <p>- Làm ứng dụng.</p>
            </td>
            <td>
                <p>Console App</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>


        <tr>
            <td>8. SWIFT</td>
            <td>
                <p>- Lập trình IOS</p>
            </td>
            <td>

            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>


        <tr>
            <td>9. Visual Basic</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
                <p>- Làm web</p>
                <p>- Ứng dụng desktop</p>
                <p>- Web realtime</p>
            </td>
            <td>
                <p>ASP.NET MVC 5 <span class="glyphicon glyphicon-ok"></span></p>
                <p>ADO.NET Entity model <span class="glyphicon glyphicon-ok"></span></p>
                <p>WebSocket</p>
                <p>WebAPI</p>
                <p>Winform</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>10. Perl</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
                <p>- Làm web</p>
            </td>

            <td>
            </td>

            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>11. Go</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>12. R</td>
            <td>
                <p>- Lập trình hàm</p>
                <p>- R có chứa nhiều loại kỹ thuật thống kê (mô hình hóa tuyến tính và phi tuyến, kiểm thử thống kê cổ
                    điển, phân tích chuỗi thời gian, phân loại, phân nhóm, v.v.) và đồ họa</p>
            </td>
            <td></td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>13. Assembly</td>
            <td>
                <p>- Lập trình ứng dụng console</p>
            </td>
            <td></td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>14. Objective-C</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
                <p>- Lập trình ứng dụng IOS</p>
            </td>
            <td>
                <p>Foundation</p>
                <p>UIKit</p>
                <p>AppKit</p>
                <p>CoreData</p>
                <p>MediaPlayer</p>
                <p>AVFoundation</p>
                <p>CoreGraphics</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>


        <tr>
            <td>15. D</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
                <p>- Lập trình ứng dụng console</p>
            </td>
            <td></td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>16. Lua</td>
            <td>
                <p>- Lập trình ứng dụng console</p>
            </td>
            <td>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>17. Scala</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
                <p>- Đầy đủ các tính năng của ngôn ngữ lập trình Java</p>
                <p>- Một ngôn ngữ sử dụng JVM</p>
            </td>
            <td></td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>18. SQL <span class="glyphicon glyphicon-ok"></span></td>
            <td>
                <p>- Lập trình hướng thủ tục</p>
                <p>- Truy vấn cơ sở dữ liệu</p>
            </td>
            <td>
                <p>SQL server</p>
                <p>Oracle SQL</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>19. F#</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>ASP.NET core web application</p>
                <p>ASP.NET core web api</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>20. Lisp</td>
            <td>
                <p>- Lập trình trong lĩnh vực trí tuệ nhân tạo</p>
            </td>
            <td></td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>21. Prolog</td>
            <td>
                <p>- Lập trình logic</p>
            </td>

            <td>
                <p>- Lập trình hệ chuyên gia</p>
                <p>- Lập trình suy diễn tri thức</p>
                <p>- Lập trình trí tuệ nhân tạo</p>
            </td>

            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>22. Groovy</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
                <p>- Sử dụng JVM làm trình biên dịch</p>
                <p>- Mang đầy đủ các tính năng của Java</p>
            </td>
            <td>

            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>23. Bash, PowerShell</td>
            <td>
                <p>- Lập trình điểu khiển máy tính (window - CMD hoặc linux - Terminal)</p>
            </td>
            <td></td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>24. AutoIT</td>
            <td>
                <p>- Giả lập được các hành động nhấn phím và di chuyển chuột.</p>
            </td>

            <td>
                <p>- Auto game</p>
                <p>- Auto app</p>
            </td>

            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>25. AutoHotKey</td>
            <td>
                <p>- Lập trình tự động hóa bàn phím và chuột</p>
            </td>

            <td>
                <p>- Tự động hóa, lên lịch các thao tác lập đi lập lại</p>
            </td>

            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>26. Clojure</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
                <p>- Sử dụng JVM làm trình biên dịch</p>
                <p>- Mang đầy đủ các tính năng của Java</p>
            </td>
            <td>

            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>27. Kotlin</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
                <p>- Sử dụng JVM làm trình biên dịch</p>
                <p>- Mang đầy đủ các tính năng của Java</p>
                <p>- Được xem là bảng nâng cấp của Java</p>
            </td>
            <td>
                <p>- Lập trình Android</p>
                <p>- Spring Framework</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>29. ByteCode</td>
            <td>
                <p>- Ngôn ngữ cho máy ảo Java có tên gọi là JVM</p>
            </td>
            <td>
                <p>- Viết mã bytecode cho mã java tương ứng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        </tbody>
    </table>

    <h1>III. Các công nghệ</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th width="20%">Tên công nghệ</th>
            <th width="40%">Chức năng tiêu biểu</th>
            <th width="40%">Ứng dụng thực tiễn</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>1. OpenStack</td>
            <td>
                <p>- Là một phần mềm mã nguồn mở, dùng để triển khai Cloud Computing, bao gồm private cloud và public
                    cloud (Open source software for building private and public clouds).</p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>

        <tr>
            <td>2. SDN (Software Defined Network )</td>
            <td>
                <p>Software Defined Network (SDN) là một cấu trúc mới, được thiết kế cho phép hệ thống mạng trở nên linh
                    động và có hiệu quả chi phí hơn</p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>

        <tr>
            <td>3. NFV (Network Functions Virtualization)</td>
            <td>
                <p>- Network Functions Virtualization (NFV) chính là việc ảo hóa các chứ năng mạng như firewall, NAT,
                    load balancer, etc. để đạt được tính linh động cao cũng như thúc đẩy việc triển khai các dịch vụ mới
                    trong lĩnh vực cung cấp dịch vụ mạng.</p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>


        <tr>
            <td>4. NFS (Network File System)</td>
            <td>
                <p>- NFS là hệ thống cung cấp dịch vụ chia sẻ file phổ biến trong hệ thống mạng Linux và Unix.</p>
                <p>...</p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>

        <tr>
            <td>5. Rundeck</td>
            <td>
                <p>Rundeck là một phần mềm mã nguồn mở giúp bạn tự động hóa các các quy trình hoạt động thường xuyên tại
                    datacenter hoặc môi trường điện toán đám mây. Rundeck cung cấp một số tính năng làm giảm bớt các
                    công việc khó khăn và tốn nhiều thời gian và làm cho nó trở nên dễ dàng hơn cho bạn có thể cải thiện
                    được các nỗ lực tự động hóa phục vụ chúng ta cũng như tạo ra các dịch vụ tự động dành cho người
                    khác.</p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>

        <tr>
            <td>6. oVirt</td>
            <td>
                <p>oVirt là một mã nguồn mở, nền tảng và phần mềm ảo hóa phân phối miễn phí được thiết kế từ mặt đất lên
                    để cho phép người dùng dễ dàng quản lý các máy ảo, cũng như lưu trữ và các mạng ảo hóa trên máy tính
                    của họ. Hiện nay nó được dựa trên một số công nghệ ảo hóa mạnh mẽ nhất, KVM (Kernel-based Virtual
                    Machine) và libvirt.</p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>