<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Tổng hợp kiến thức năm 2019</title>
</head>
<body>
<div class="container">
    <h1>I. Ngoại ngữ</h1>
    <p>- Tiếng anh</p>
    <p>- Tiếng trung</p>
    <p>- Tiếng nhật</p>

    <h1>II. Ngôn ngữ lập trình</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th width="20%">Ngôn ngữ lập trình</th>
            <th width="50%">Tính năng</th>
            <th width="30%">Trang web học chính</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1. Java</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
                <p>- Làm web với các framework Spring, JSF, Hibernate</p>
                <p>- Được sử dụng trong nhiều hệ thống lớn</p>
            </td>
            <td>
                <p><a href="https://www.baeldung.com">Baeldung</a></p>
                <p><a href="https://www.freetuts.net">Free Tuts</a></p>
            </td>
        </tr>

        <tr>
            <td>2. Python</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
                <p>- Làm web, AI</p>
            </td>
            <td>
                <p><a href="https://www.freetuts.net">Free Tuts</a></p>
            </td>
        </tr>

        <tr>
            <td>3. C#</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
                <p>- Làm web với các framework .NET, .NET core</p>
            </td>
            <td>
                <p>HowkTeam</p>
                <p>Microsoft</p>
            </td>
        </tr>

        <tr>
            <td>4. JS</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
                <p>- NodeJS</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>5. PHP</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
                <p>- Làm web với nhiều framework và hệ thống CMS</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>6. Ruby</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
                <p>- Làm web MVC với framework Rails</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>7. C++</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
                <p>- Làm ứng dụng.</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>


        <tr>
            <td>8. SWIFT</td>
            <td>
                <p>- Lập trình IOS</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>


        <tr>
            <td>9. Visual Basic</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>10. Perl</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>11. Go</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>12. R</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>13. Assembly</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>14. Objective-C</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>15. Machine code</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>16. Scratch</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>17. D</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>18. Lua</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>19. Scala</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>20. Transact-SQL</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>21. F#</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>22. Lisp</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>23. Prolog</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>23. Groovy</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>24. Erlang</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>


        <tr>
            <td>24. Bash</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>25. AutoIT</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>26. AutoHotKey</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>27. Clojure</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>28. Kotlin</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>29. PowerShell</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        <tr>
            <td>30. ByteCode</td>
            <td>
                <p>- Lập trình hướng đối tượng</p>
            </td>
            <td>
                <p>Nhiều trang</p>
            </td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>