<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Tổng hợp web học tập</title>
</head>
<body>
<div class="container">
    <% include menu %>
    <h1>I. Các website học lập trình</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th width="20%">Link website</th>
            <th width="50%">Giới thiệu</th>
            <th width="30%">Ngôn ngữ nồng cốt</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="https://www.codecademy.com/">Code
                    Academy</a></td>
            <td>Code Academy là một trong số các site phổ biến nhất để mọi người học lập trình miễn phí. Có hơn 24 triệu
                người đã học code bằng nền tảng này.
            </td>
            <td>Tổng hợp</td>
        </tr>

        <tr>
            <td><a href="https://kenhlaptrinh.net/">Kênh lập trình</a></td>
            <td>Trang web hướng dẫn thực hành, với các kĩ thật làm web và app android là chủ yếu</td>
            <td>Java</td>
        </tr>

        <tr>
            <td><a href="https://vietjack.com/">VietJack</a></td>
            <td>Trang web tổng hợp kiến thức từ cấp 2 cấp 3 đến các kiến thức lập trình. Đây là trang web mang nhiều
                kiến thức tuy nhiên còn nhiều nội dung được dich từ website khác cụ thể là
                <a href="https://www.tutorialspoint.com/">Tutorials point</a></td>
            <td>Tổng hợp</td>
        </tr>

        <tr>
            <td><a href="https://www.tutorialspoint.com/">Tutorials point</a></td>
            <td>Tổng hợp kiến thức gần như là đầy đủ về IT. Số lượng ngôn ngữ lập trình được giới thiệu là quá lớn.
                Hướng dẫn cụ thể chính xác. Tuy nhiên vì số lượng ngôn ngữ quá lớn nên về độ chuyên sâu thì không cao.
                Chủ yếu là sample
            </td>
            <td>Tổng hợp</td>
        </tr>

        <tr>
            <td><a href="https://qlvfun.herokuapp.com">QLVFun</a></td>
            <td>Học từ vựng tiếng anh online chế độ chơi nhiều người</td>
            <td>Tiếng anh</td>
        </tr>

        <tr>
            <td><a href="https://codefulltime.com">Code full time</a></td>
            <td>Học lập trình qua các ví dụ và các dự án demo. Có thể tải về miễn phí. Tồn tại nhiều khóa học có phí được tải miễn phóí</td>
            <td>Nhiều ngôn ngữ lập trình</td>
        </tr>

        <tr>
            <td><a href="https://www.baeldung.com">Baeldung</a></td>
            <td>Học lập trình chuyên sâu. Có code mẫu cho từng phần lý thuyết. Tập hợp các công nghệ mới của casdc ngôn ngữ lập trình</td>
            <td>Java và các framework</td>
        </tr>

        <tr>
            <td><a href="https://www.freetuts.net/">Free Tuts</a></td>
            <td>Học lập trình miễn phí. Có thể tìm kiếm việc làm tại đây. Trang web viết rất cụ thể. </td>
            <td>PHP và các framework, HTML/CSS, JS và các framework</td>
        </tr>


        </tbody>
    </table>
</div>
</body>
</html>